/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

a {
  outline: none;
  text-decoration: none;
  color: #e63946;
}

.fs-4r {
  font-size: 4rem;
}

/* custom */

.uk-navbar-item,
.uk-navbar-nav > li > a,
.uk-navbar-toggle {
  min-height: auto;
}

.uk-logo,
.uk-navbar-nav > li > a {
  transition: all 0.3s ease-in-out;
}

.uk-logo:hover,
.uk-navbar-nav > li > a:hover {
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
}

#hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
}

.uk-navbar-nav {
  align-items: center;
}

.uk-navbar-nav > li > a {
  font-size: 1.2rem;
}

[class*="uk-divider"] {
  margin-top: 5px;
  margin-bottom: 10px;
}

.uk-divider-bold {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 200px;
  max-width: 80%;
  border-top: 4px solid #e5e5e5;
}

.uk-card-header-no-border {
  border-bottom: 0 !important;
}

.box-shadow-0 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bg-special {
  background-color: #e63946;
}

.txt-white {
  color: #ffffff;
}

.button-primary {
  background-color: #e63946;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.5s ease;
}

.button-primary:hover {
  background-color: #ffffff;
  color: #e63946;
  transition: all 0.5s ease;
}

#projekty img {
  height: 250px;
  object-fit: cover;
}

footer a {
  color: #4361ee;
}

footer a:hover {
  color: #e63946;
  text-decoration: none;
}

.toTop {
  display: none;
  border: 0;
  width: 52px;
  height: 52px;
  background: #e63946;
  color: #fff;
  border-radius: 25px;
  /* transform: rotate(45deg); */
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
  position: fixed;
  bottom: 60px;
  right: 60px;
}

.toTop:hover {
  transform: rotate(360deg);
}
